// Importing a partial
@use "partial";

// Importing a module (requires tilde-importer in postsass config)
@use "~modern-normalize/modern-normalize.css";

a {
  b {
    transition: all;
  }

  border-radius: 10px 5px;
  background-color: rgba(100, 100, 255, 0.5);
}

#main {
  display: grid;

  .foot {
    grid-area: foot;
  }
}
